In [ ]:
import numpy as np
import pandas as pd

arr = np.random.rand(5, 5)
df = pd.DataFrame(arr)
df

          0         1         2         3         4
0  0.423080  0.425349  0.901072  0.729056  0.690504
1  0.318752  0.036310  0.018587  0.046482  0.211129
2  0.868236  0.552331  0.653472  0.087706  0.204566
3  0.978532  0.481908  0.172100  0.619354  0.772279
4  0.819507  0.268100  0.266721  0.383874  0.987248